<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      Training Classes
    </h2>
  </div>
    <div>
      <ol>
        <li><a href="http://localhost:3001/dish/1">
          Quality Training Class 101
        </li>
        <li>
          Quality Training Class 102
        </li>
        <li>
          Quality Training Class 103
        </li>
        <li>
          Quality Training Class 104
        </li>
        <li>
          Quality Training Class 105
        </li>
        <li>
          Safety Class 101
        </li>
        <li>
          Fork Life Safety Training
        </li>
         <li>
          Equipment Press XR42
        </li>
         <li>
          Ethics Compliance Training
        </li>
         <li>
          Safety Class OHSA
        </li>

      </ol>
    </div>
  </div>
</div>
